{
  "presets": [
    "@babel/preset-env",
    "@babel/typescript"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "services": "./src/services",
        "core": "./src/core",
        "config": "./src/config",
        "middlewares": "./src/middlewares",
        "models": "./src/models"
      }
    }],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-class-properties"
  ]
}